In [1]:
%load_ext blackcellmagic
%load_ext autoreload
%autoreload 2

In [81]:
import pandas as pd
import tabula
import schema_extractors
import xlrd

In [91]:
def get_schemas():
    schemas = {}
    wb = xlrd.open_workbook("tmp/schemas.xlsx")
    for sheet in wb.sheets():
        schemas[sheet.name] = pd.read_excel(wb, sheet.name)
    schemas["assets"] = schemas["assets"].set_index(schemas["assets"].columns[-1])
    return schemas

In [92]:
schemas = get_schemas()

In [93]:
list(schemas.keys())

['schema_description',
 'assets',
 'info',
 'price',
 'id',
 'asset_country',
 'market_type',
 'currency',
 'rating_agency',
 'financial_institution',
 'anchor_interest',
 'anchor_interest_duration',
 'origin_country']

In [94]:
schema_positions = {
    "assets": 3
}

In [98]:
df[df.columns[3]]

0         1
1         1
2         1
3         1
4         1
       ...
9994    315
9995    316
9996    317
9997    318
9998    319
Name: Instrument Type Num, Length: 9999, dtype: int64

In [100]:
pos = 3
key = "assets"

In [103]:
df[].merge(schema[key])

TypeError: string indices must be integers

In [95]:
def apply_schemas(df):
    df = df.copy()
    for key, pos in schema_positions.items():
        schema = schemas[key]
        df[df.columns[pos]] = df[df.columns[pos]].apply()
    return df

In [80]:
df = pd.read_excel("test_data/epsilon_20191104.xlsx")

In [79]:
apply_schemas(df)

,Fund Num,Fund Name,Instrument Name,Instrument Type Num,Instrument Num,Instrument Num Type,Nominal Value,Fair Value,Instrument Price,Fair Value FX,...,Accrued interest,TICKER,Country Num,Rating,Rating agency Nוum,Bank Num,DateCode,Row Num,Total Row,Manager Num
0,5100946,אפסילון (4A) יתר,המלט 1,1,1080324,1,4600.0,402960.00,8760.0,402960.00,...,0.0,HAML,0,,0,31,31012018,1,2955,511576209
1,5100946,אפסילון (4A) יתר,רימוני מר 1,1,1080456,1,12181.0,767159.38,6298.0,767159.38,...,0.0,RIMO,1,,0,31,31012018,2,2955,511576209
2,5100946,אפסילון (4A) יתר,רקח 1,1,1081009,1,5000.0,177000.00,3540.0,177000.00,...,0.0,REKA,1,,0,31,31012018,3,2955,511576209
3,5100946,אפסילון (4A) יתר,איסתא 1ש''ח,1,1081074,1,2500.0,198225.00,7929.0,198225.00,...,0.0,ISTA,0,,0,31,31012018,4,2955,511576209
4,5100946,אפסילון (4A) יתר,בית שמש 1ש''ח,1,1081561,1,9389.0,807735.67,8603.0,807735.67,...,0.0,BSEN,1,,0,31,31012018,5,2955,511576209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,5119722,אפסילוןETF4D שווקי מתע SB,מספר היחידות שנפדו במהלך החודש,315,,0,282830.0,0.00,0.0,0.00,...,0.0,,0,,0,31,28022018,2323,3035,511576209
9995,5119722,אפסילוןETF4D שווקי מתע SB,שווי היחידות שנפדו במהלך החודש,316,,0,0.0,311123.33,0.0,0.00,...,0.0,,0,,0,31,28022018,2324,3035,511576209
9996,5119722,אפסילוןETF4D שווקי מתע SB,מספר היחידות שהונפקו ביום המסחר האחרון,317,,0,26839.0,0.00,0.0,0.00,...,0.0,,0,,0,31,28022018,2325,3035,511576209
9997,5119722,אפסילוןETF4D שווקי מתע SB,מספר היחידות שנפדו ביום המסחר האחרון,318,,0,6000.0,0.00,0.0,0.00,...,0.0,,0,,0,31,28022018,2326,3035,511576209
9998,5119722,אפסילוןETF4D שווקי מתע SB,שיעור חשיפה למניות ביום המסחר האחרון,319,,0,0.0,39052859.28,0.0,0.00,...,0.0,,0,,0,31,28022018,2327,3035,511576209