In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("test_data/epsilon_20191104.xlsx")

In [3]:
df = df.rename(columns=lambda x: x.replace(" ", "_").lower())

In [4]:
df.head()

,fund_num,fund_name,instrument_name,instrument_type_num,instrument_num,instrument_num_type,nominal_value_,fair_value,instrument_price,fair_value_fx,...,accrued_interest,ticker,country_num,rating,rating_agency_nוum,bank_num,datecode,row_num,total_row,manager_num
0,5100946,אפסילון (4A) יתר,המלט 1,1,1080324,1,4600.0,402960.00,8760.0,402960.00,...,0.0,HAML,0,,0,31,31012018,1,2955,511576209
1,5100946,אפסילון (4A) יתר,רימוני מר 1,1,1080456,1,12181.0,767159.38,6298.0,767159.38,...,0.0,RIMO,1,,0,31,31012018,2,2955,511576209
2,5100946,אפסילון (4A) יתר,רקח 1,1,1081009,1,5000.0,177000.00,3540.0,177000.00,...,0.0,REKA,1,,0,31,31012018,3,2955,511576209
3,5100946,אפסילון (4A) יתר,איסתא 1ש''ח,1,1081074,1,2500.0,198225.00,7929.0,198225.00,...,0.0,ISTA,0,,0,31,31012018,4,2955,511576209
4,5100946,אפסילון (4A) יתר,בית שמש 1ש''ח,1,1081561,1,9389.0,807735.67,8603.0,807735.67,...,0.0,BSEN,1,,0,31,31012018,5,2955,511576209

In [10]:
df[["ticker", "instrument_rate"]]

                      ticker  instrument_rate
0     HAML                               1.10
1     RIMO                               2.09
2     REKA                               0.48
3     ISTA                               0.54
4     BSEN                               2.20
...                      ...              ...
9994                                     0.00
9995                                     0.00
9996                                     0.00
9997                                     0.00
9998                                    96.42

[9999 rows x 2 columns]

In [5]:
df.columns

Index(['fund_num', 'fund_name', 'instrument_name', 'instrument_type_num',
       'instrument_num', 'instrument_num_type', 'nominal_value_', 'fair_value',
       'instrument_price', 'fair_value_fx', 'instrument_rate',
       'lend_for_short', 'price_type', 'market_num', 'market_type',
       'currency_num', 'exchange_rate\nexchange_rate\n', 'matur_bond',
       'accrued_interest', 'ticker', 'country_num', 'rating',
       'rating_agency_nוum', 'bank_num', 'datecode', 'row_num', 'total_row',
       'manager_num'],
      dtype='object')

In [7]:
df.ticker.value_counts()

                          3845
WSPL.B1                     42
MZT.B1                      40
DSMN.N1                     37
TSRN.B1                     37
                          ...
EWD                          1
PSG.F117                     1
KSM.F161                     1
TCH.F100                     1
HOD                          1
Name: ticker, Length: 1169, dtype: int64