In [2]:
%load_ext blackcellmagic

In [3]:
import pandas as pd
import tabula

In [58]:
def get_country_origin_schema():
    return tabula.read_pdf(
                "docs/Monthly_reporting_structure.pdf",
                pages=[17],
                relative_area=True,
                area=[45, 0, 70, 100],
            )
get_anchor_interest_duration()

                        ערך  מספר\rמזהה
0  לא רלוונטי (ריבית קבועה)           0
1                      יומי           1
2                     שבועי           2
3                     חודשי           3
4                 תלת חודשי           4
5               שישה חודשים           5
6                      שנתי           6
7                       אחר           7