In [1]:
%load_ext blackcellmagic
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import process_report

In [57]:
df = pd.read_excel("test_data/epsilon_20191104.xlsx")

In [51]:
schemas = process_report.get_schemas()

In [52]:
list(schemas.keys())

['schema_description',
 'assets',
 'info',
 'price',
 'id',
 'asset_country',
 'market_type',
 'currency',
 'rating_agency',
 'financial_institution',
 'anchor_interest',
 'anchor_interest_duration',
 'origin_country']

In [58]:
schema_positions = {
    "assets": 3,
    "id": 5,
    "origin_country": 20,
    "rating_agency": 22,
    "financial_institution": 23
}

In [59]:
df.columns.tolist().index("Instrument Num Type")

5

In [60]:
processed = process_report.apply_schemas(schemas, schema_positions, df)
processed.DateCode = pd.to_datetime(processed.DateCode, format="%d%m%Y")

In [61]:
processed.head()

,Fund Num,Fund Name,Instrument Name,Instrument Type Num,Instrument Num,Instrument Num Type,Nominal Value,Fair Value,Instrument Price,Fair Value FX,...,Accrued interest,TICKER,Country Num,Rating,Rating agency Nוum,Bank Num,DateCode,Row Num,Total Row,Manager Num
0,5100946,אפסילון (4A) יתר,המלט 1,מניה,1080324,"מס' בורסה ת""א",4600.0,402960.00,8760.0,402960.00,...,0.0,HAML,0,,0,"הבנק הבינלאומי הראשון לישראל בע""מ",2018-01-31,1,2955,511576209
1,5100946,אפסילון (4A) יתר,רימוני מר 1,מניה,1080456,"מס' בורסה ת""א",12181.0,767159.38,6298.0,767159.38,...,0.0,RIMO,ישראל,,0,"הבנק הבינלאומי הראשון לישראל בע""מ",2018-01-31,2,2955,511576209
2,5100946,אפסילון (4A) יתר,רקח 1,מניה,1081009,"מס' בורסה ת""א",5000.0,177000.00,3540.0,177000.00,...,0.0,REKA,ישראל,,0,"הבנק הבינלאומי הראשון לישראל בע""מ",2018-01-31,3,2955,511576209
3,5100946,אפסילון (4A) יתר,איסתא 1ש''ח,מניה,1081074,"מס' בורסה ת""א",2500.0,198225.00,7929.0,198225.00,...,0.0,ISTA,0,,0,"הבנק הבינלאומי הראשון לישראל בע""מ",2018-01-31,4,2955,511576209
4,5100946,אפסילון (4A) יתר,בית שמש 1ש''ח,מניה,1081561,"מס' בורסה ת""א",9389.0,807735.67,8603.0,807735.67,...,0.0,BSEN,ישראל,,0,"הבנק הבינלאומי הראשון לישראל בע""מ",2018-01-31,5,2955,511576209

In [62]:
processed.columns

Index(['Fund Num', 'Fund Name', 'Instrument Name', 'Instrument Type Num',
       'Instrument Num', 'Instrument Num Type', 'Nominal Value ', 'Fair Value',
       'Instrument Price', 'Fair Value FX', 'Instrument Rate',
       'Lend for Short', 'Price Type', 'Market Num', 'Market Type',
       'currency Num', 'Exchange rate\nExchange rate\n', 'Matur Bond',
       'Accrued interest', 'TICKER', 'Country Num', 'Rating',
       'Rating agency Nוum', 'Bank Num', 'DateCode', 'Row Num', 'Total Row',
       'Manager Num'],
      dtype='object')